<div class="copyright footer7" id="footer">
    <div class="container">
            <div class="row">
                    <div class="col-md-6 right col-md-push-6 col-sm-5 col-sm-push-7">
                            <div>
                                    <ul class="menu-social-small">
                                            <li><a href="https://www.facebook.com/surjithctly"><i
                                                                    class="fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="https://twitter.com/surjithctly"><i
                                                                    class="fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="https://www.linkedin.com/"><i
                                                                    class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li><a href="https://www.pinterest.com/surjithctly/"><i
                                                                    class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li><a href="https://instagram.com/"><i
                                                                    class="fa fa-instagram"></i></a>
                                            </li>
                                    </ul>
                            </div>
                    </div>
                    <div class="col-md-6 left col-md-pull-6 col-sm-7 col-sm-pull-5">
                            &copy; Polygon Theme by surjithctly. All Right Reserved 2015.
                    </div>
            </div>
    </div>
</div>
